body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  .player-wrapper {
    width: 600px;
    background-color: white;
    border: 3px solid #f8dcff;
    border-radius: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    box-shadow: 0px 12px 24px #F3E4F7;
    
    .title-and-remind-contain {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .player-remind {
        display: flex;
      }
      .reminds {
        .ellipses-remind {
          transform: rotate(180deg);
        }
      }
      .reminds,
      .minds {
        .ellipses-remind {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-color: #fdf3ff;
          margin-left: 10px;
          position: relative;
          transition: 0.5s;

          &:hover {
            background: #f8dcff;
            cursor: pointer;
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .player-action {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 20px;
      .play-pause {
        .ellipse {
          cursor: pointer;
          width: 80px;
          height: 80px;
          background-color: #fdf3ff;
          position: relative;
          border-radius: 50%;
          margin-right: 18px;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
          }
        }
      }
      .audio-bar {
        position: relative;
        width: 100%;
        height: 80px;
        border-radius: 40px;
        background-color: #fdf3ff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .vector-canvas {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          z-index: 0;
          left: 15px;
        
          img{
            width: 345px;
            margin-top: 10px;
            opacity: 0.1;
          }
        }
        .progress-container {
          z-index: 9;
          background: #f3e6f6;
          border-radius: 24px;
          cursor: pointer;
          border: 3px solid white;
          margin: 10px 30px;
          height: 10px;
          width: 100%;
        }
        .progress {
          background-color: #cb6ce2;
          height: 100%;
          width: 0%;
          border-radius: 24px;
          transition: width 0.1s linear;
        }
        .audio-timer {
          font-size: 16px;
          color: #a11bc2;
          width: 40%;
        }
      }
    }
  }

  .songer-neme {
    color: #a11bc2;
    font-weight: 700;
    font-size: 14px;
  }
  .song-name {
    color: #501bc2;
    font-size: 24px;
  }
}
